.li-link{
    color: #c6b38e;
    text-decoration: none;
    font-family: 'Alegreya', serif;
    font-size: 30px;
}
.li-nav-link{
    display: inline;    
}
.nav-ul-links{
    align-items: center;    
    list-style-type: none;
}
.nav-bar{    
    background-color: #020402;
    height: 100px;
    
}

ul img{
    height: 60px;
}